.image-text-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .image-text-list {
    gap: 100px;
  }
}

.image-text-list__item {
  outline: 1px solid rgb(0, 179, 84);
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

@media (min-width: 768px) {
  .image-text-list__item {
    grid-template-columns: 1fr 1fr;
  }
}

.image-text-list__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .image-text-list__item:nth-child(2n) .image-text-list__description {
    order: -1;
  }
}
