.list {
  margin: 0;
  padding: 24px 0;
  list-style: none;
}

.list>li {
  position: relative;
  padding-left: 32px;
}

.list>li:not(:first-child) {
  margin-top: 16px;
}

.list>li::before {
  content: "•";
  position: absolute;
  top: 4px;
  left: 14px;
  display: block;
  color: var(--palette-swamp);
}