.page {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
  row-gap: 48px;

  grid-template-areas:
    'aside header'
    'aside main'
    'aside footer';
}

.page__aside {
  grid-area: aside;
}

.page__header {
  grid-area: header;
}

.page__main {
  grid-area: main;
  margin-bottom: 48px;
}

.page__footer {
  grid-area: footer;
}