.section-products__list {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0;
    list-style: none;
}

@media (min-width: 768px) {
    .section-products {
        gap: 100px;
    }
}

.section-products__item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

@media (min-width: 768px) {
    .section-products__item {
        grid-template-columns: 1fr 1fr;
    }
}

.section-products__item:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .section-products__item:nth-child(2n) .section-products__description {
        order: -1;
    }
}

.section-products__image img {
    max-width: 566px;
}