.section-stats {
    outline: 1px solid rgb(255, 0, 208);
    overflow-x: auto;
}

.section-stats__table {
    border: 1px solid var(--palette-swamp);
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 48px;
    table-layout: fixed;
}

.section-stats__th,
.section-stats__td {
    border: 1px solid var(--palette-swamp);
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    width: 100px;
}

.section-stats__tr {
    background-color: var(--palette-white);
}

.section-stats__th:first-child,
.section-stats__td:first-child {
    text-align: left;
}

.section-stats__td-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.section-stats__td-list .section-stats__td-item {
    text-align: center;
    margin: 0;
}