.section-stats {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section-stats__scroll {
    overflow-x: auto;
}

.section-stats__table {
    border: 1px solid var(--palette-aqua-breeze);
    border-collapse: collapse;
    max-width: fit-content;
    table-layout: fixed;
}

.section-stats__th,
.section-stats__td {
    border: 1px solid var(--palette-aqua-breeze);
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    width: 100px;
}

.section-stats__tr {
    background-color: var(--palette-white);
}

.section-stats__th:first-child,
.section-stats__td:first-child {
    text-align: left;
}

.section-stats__td-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.section-stats__td-list .section-stats__td-item {
    text-align: center;
    margin: 0;
}

.section-stats__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}