.text {
  margin: 0;
}

.text--h1 {
  font: normal 400 36px/52px 'Russo One', Helvetica, Arial, sans-serif;
}

.text--h2 {
  font: normal 400 30px/42px 'Russo One', Helvetica, Arial, sans-serif;
}

.text--h2+.text--p2 {
  margin-top: 24px;
}

.text--h3 {
  font: normal 400 24px/32px 'Russo One', Helvetica, Arial, sans-serif;
}

.text--h3+.text--p2 {
  margin-top: 8px;
}

.text--p1 {
  font: normal 400 18px/24px 'Malgun Gothic', Helvetica, Arial, sans-serif;
}

.text--p1+.text--p1 {
  margin-top: 12px;
}

.text--p2 {
  font: normal 400 16px/24px 'Malgun Gothic', Helvetica, Arial, sans-serif;
}

.text--p2+.text--p2 {
  margin-top: 16px;
}

.text--p2+.text--h3 {
  margin-top: 32px;
}

.text--p3 {
  font: normal 400 14px/20px 'Malgun Gothic', Helvetica, Arial, sans-serif;
}

.text--p3+.text--p3 {
  margin-top: 4px;
}

.text--bold {
  font-weight: 600;
}

.text--center {
  text-align: center;
}

.text--lowercase {
  text-transform: lowercase;
}

.text--vertical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.text--underline {
  text-decoration: underline;
}

.text--hover-no-decoration:hover {
  text-decoration: none;
}

.text--hover-underline:hover,
.text--hover-underline:focus-visible {
  text-decoration: underline;
}

.text--nowrap {
  text-wrap: nowrap;
}