.wrapper {
  margin: 0 5%;
  outline: 1px solid blue;
}

.image-text-list {
  padding: 0;
  list-style: none;
}

.image-text-list__item {
  outline: 1px solid rgb(0, 179, 84);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
  margin-bottom: 100px;
}

.image-text-list__item:last-child {
  margin-bottom: 0;
}

.image-text-list__image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding-top: 70.25%;
  position: relative;
}

.image-text-list__description {
  max-width: 100%;
}

.image-text-list__item:nth-child(2n) {
  grid-template-columns: 1fr 1fr;
}

.image-text-list__item:nth-child(2n) .image-text-list__image {
  order: 2;
}

.image-text-list__item:nth-child(2n) .image-text-list__description {
  order: 1;
}

@media (max-width: 768px) {
  .image-text-list__item {
    grid-template-columns: 1fr;
  }

  .image-text-list__image,
  .image-text-list__description {
    width: 100%;
  }
}